################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExampleServer/bin/Debug/netcoreapp2.0
/lib/bin/Debug/netcoreapp2.0
