################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
**/bin
**/obj

/HTTP-2-server.iml
